@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
body{
	width:100%;
	top:0%;
	right:0%;
	bottom:0%;
	left:0%;
	
}
.container{
	width:90%;
	margin:0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_container{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
}
.flex_item1{
	width:8.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item2{
	width:16.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item3{
	width:25%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item4{
	width:33.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item5{
	width:41.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item6{
	width:50%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item7{
	width:58.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item8{
	width:66.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item9{
	width:75%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item10{
	width:83.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item11{
	width:91.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item12{
	width:100%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.align_center{
	align-content:center;
}
/* head section start */
.header{
	width:100%;
	padding:13px 0;
	background-color:white;
	position:fixed;
	opacity:1;
	z-index:99999;
}
.logo{
	width:auto;
	margin-left:30px;
}

.logo a{
	color:black;
	text-decoration:none;
	font-weight:600;
	font-size:30px;
	margin-left:0px;
	font-family: 'Poppins', sans-serif;
}
.logo a span{
	color:#e03a3c;
}
.navbar{
	width:auto;
	display:flex;
	align-items:center;
	height:50px;
}
.navbar ul li a{
	text-decoration:none;
	padding-left:35px;
	padding-right:15px;
	color:#111111;
	font-family:'Raleway', sans-serif;
	/* font-weight:600; */
}
.na{
	text-decoration:none;
}
.header a{

	font-family: 'Raleway', sans-serif;
}
.logo{
	height: 50px;
    width: auto;
	
}
.logo a{
	display:flex;
	font-size:28px;
	font-weight:600;
	color:#111111;
	font-family: 'Poppins', sans-serif;
}
.logo a span{
	color:#e03a3c;
}
.flex {
    display: flex;
    align-items: center;
	justify-content: flex-end;
}
.navbar{
	height: 50px;
    width: auto;
    display: flex;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
	font-size:15px;
	font-weight:600;
}
.navbar .navlist li a{
	padding: 10px 0 10px 30px;
	color: #111111;
	transition: all 0.3s;
}
.navbar .navlist li a:hover{
	color: #e03a3c;
}
.navbar ul li a .bi-chevron-down{
	font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
}
.navbar ul li a .bi-chevron-right{
	font-size: 12px;
    font-weight: 600;
    margin-left: 35px;
}
.drop_down{
	position: relative;
	top: 0;
	bottom: 0;
}
.drop_down .drop_down1{
	position: absolute;
    display: block;
	width: 200px;
    background-color: #fff;
	padding: 10px 0;
    left: 30px;
    top: 30px;
	transition: all 0.3s;
	transform: translateY(25px);
	visibility: hidden;
	opacity: 0;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.drop_down:hover .drop_down1{
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
}
.drop_down .drop_down1 li a{
	display: block;
	padding: 10px 20px;
    font-size: 14px;
}
.deep_drop{
	position: relative;
	top: 0;
	bottom: 0;
}
.drop_down .drop_down3{
	position: absolute;
    display: block;
	width: 200px;
    background-color: #fff;
	padding: 10px 0;
    left: -200px;
    top: 0;
	transition: all 0.3s;
	transform: translateX(20px);
	visibility: hidden;
	opacity: 0;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.deep_drop:hover .drop_down3{
	transform: translateX(0);
	visibility: visible;
	opacity: 1;
}
.drop_down .drop_down3 li a{
	display: block;
	padding: 10px 20px;
    font-size: 14px;
}
.get_btn {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:400;
    padding: 9px 25px;
    background-color: #e03a3c;
    color: #ffffff;
	border-radius:4px;
	margin-left: 20px;
	transition:all 0.4s ease;
	text-decoration:none;
}

.get_btn:hover{
	background: #111111;
    color: #fff;
}
/* header section end */
/* banner sec starts  */
.banner{
	padding:80px 0;
	background-image:url("../images/hero1.jpg");
    background-blend-mode: overlay;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
	position:relative;
	z-index:1;
}
.banner::before{
    content: "";
    background-color:#57555599;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
	z-index:-1;
}
.ban_cnt{
	color: white;
    font-size: 40px;
    font-family: 'raleway', sans-serif;
    padding: 20px;
    margin: 5rem;
    width: 35rem;
    margin-top: 3rem;
}
.ban_cnt p{
	font-size:30px;
	text-align:center;
	color:white;
}
.ban_cnt a{
	padding:7px 25px;
	background-color:#e03a3c;
	color:white;
	text-decoration:none;
	border-radius:4px;
	font-family:'Raleway',sans-serif;
	font-size:20px;
	font-weight:450;
	display:inline-block;
	margin-top:2rem;
	margin-left:3rem;
}
.ban_cnt a:hover{
	background-color:transparent;
	border:2px solid white;
}
/* banner sec end */
.row{
	padding:50px 0;
	display: flex;
	
}


.item2 img{
    width:50%;
	filter:grayscale(100);
	opacity:0.3;
}
.item2 img:hover{
	filter:none;
	opacity:1;
}
.banner2{
	padding:60px;
	background-color:black;
	transform:skewY(-183deg);
}

.ban2{
	width:100%;
	/* height:330px; */
	color:white;
	transform:skewY(183deg);
}
.ban2 h1{
	margin-top:24px;
	font-size:38px;
	font-family:'Raleway',sans-serif;
}
.ban2 p{
	margin-top:44px;
	font-family:'Raleway',sans-serif;
	margin-bottom:44px;
	line-height:30px;
	font-weight:500;
	font-size:18px;
	text-align:center;
}
.ban2 a{
	color:white;
	text-decoration:none;
	border:3px solid #e03a3c; 
	border-radius:30px;
	padding: 8px 30px 9px;
	font-size:13px;
	display: inline-flex;
    align-items: center;
    transition: all 0.3s ease 0s;
	font-family:'Raleway',sans-serif;
	font-weight:600;
}
.ban2 a:hover{
	background-color: #e03a3c;
}
.ban_btn i::before{
	color:white;
	font-size:20px;
	text-align:center;
	display:inline-block;
}

.ban2_cnt{
	/* width:auto; */
	/* height:330px; */
	display:flex;
	flex-wrap:wrap;
	transform:skewY(183deg);
	text-align:center;
}
.ft6{

	/* width:auto; */
	/* height:134px; */
	/* display:flex; */
}
.ft6 i{
	color:#e03a3c;
	font-size:46px;
	margin-top:33px;
}
.ft6 h1{
	color:white;
	font-family:'Raleway',sans-serif;
}
.ft6 p{
	color:#848484;
	margin-top:8px;
	font-family:'Raleway',sans-serif;
	font-size:15px;
}

/* sec4 start */

.sec4{
	padding:80px 0;
	/* margin-top: 35px; */
}
.con_box4{
	width:auto;
	background-color:#ffffff;
	text-align: center;
	padding: 30px;
	font-family: 'Open Sans', sans-serif;
	line-height: 35px;
	position: relative;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin-top:20px;
}
.con_box4 i{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	font-size: 24px;
	color: #e03a3c;
	background-color: #ffffff;
	position: absolute;
	top: -25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.con_box4 span{
	font-size: 36px;
	font-weight: 700;
	color: #111111;
}
.con_box4 p{
	font-family:'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #444444;
}

/* sec4 end */


.row5{
	 width: 90%;
    height: 35px;
	/* padding-left:150px */
}
.box5{
    /* height: 102px; */
    /* width: 247px; */
    box-shadow:0px 0px 3px 0px #cbc5c5;	
	/* margin-top:50px; */
	display:flex;
	justify-items:center;
	align-content:center;
	padding:30px;
	cursor:pointer;
	align-items:center;
}
.box5 i{
	color:black;
	font-size:44px;
	margin-left:-16px;
}
.box5 p{
	font-family:'Open Sans',sans-serif;
	font-size:18px;
	margin-left:10px;
	font-weight:500;
}

.box5:hover i,
.box5:hover p{
	color:#e03a3c;
}

.banner3{
	padding:80px 0;
	margin-top:70px;
	display:flex;
}
.ban3{
	width:auto;
	/* height:230px; */
}
.ban3 h1{
	font-family:'Open Sans',sans-serif;
    font-size: 29px;
    font-weight: 500;
}

.ban3 p{
	font-family:'Open Sans',sans-serif;
	color:#555558;
	font-style:italic;
    margin-top: 10Px;
	font-size:17px;
}

.ban3 ul li{
	color:#555558;
	list-style:none;
	font-size:17px;
	line-height:2;
	font-family:'Open Sans',sans-serif;
}
.ban3 ul li i{
	color:#df4d4d;
	margin-right:12px;
}
.tab1{
	width:auto;
}
.tab1 img{
	/* display:flex; */
	/* display:block; */
	/* height:100vh; */
    /* margin-left: 648px; */
    /* margin-top: -231px; */
    width:100%;
}



.row2{
	padding: 42px 0;
    background-color: black;
    /* padding-left: 53px; */
    /* padding-right: 37px; */
    /* padding-bottom: 58px; */
}

.slide{
	transform:skewY(-3deg);
}
.straight{
	transform:skewY(3deg);
}
.line{
	/* width:auto; */
	/* height:80px; */
	color:white;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	margin-top: 20px;
    font-size: 23px;
}
.line h1::after{
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 50px;
    background-color: #e03a3c;
    left: calc(50% - 25px);
	/* bottom:570px; */
}
.row55{
	padding:2px 0;
	background-color:black;
}

.line55{
	width:auto;
	/* height:80px; */
	color:white;
	font-family: 'Poppins', sans-serif;	
	text-align:center;
	/* margin-left: 93px; */
    /* margin-right: 58px; */
     margin-top: 15px;
}
.banner4{
	padding:30px 0;
	background-color:black;
}
.ban4{
	height:20vh;
	background-color:#1c1c1a;
	padding-top:24px;
	margin-bottom:10px;
	border-radius:8px;
}
.ban4 i{
	color:#e03a3c;
	display:flex;
	font-size: 32px;
    margin-left: 34px;
}
.ban4 h1{
	color:white;
	font-size: 20px;
    margin-left:20%;
    margin-top: -40px;
	font-family:'Raleway', sans-serif;
}
.ban4 p{
	color:white;
	margin-left: 20%;
    margin-top: 15px;
    font-weight: 11;
    font-size: 17px;
	font-family: "Open Sans", sans-serif;	
}
.row1{
	padding:10px 0;
	margin-top:0px;
	background-color:white;
	text-align:center;
}
.line21 h1{
	color:black;
	position:relative;
}
.line21 h1::before{
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 50px;
    background-color: #e03a3c;
    left: calc(50% - 25px);
	margin-top:45px;
}
/* .row1 p{ */
	/* color:black; */
	/* padding-left: 119px; */
    /* text-align-last: center; */
    /* font-size: 15px; */
	/* transform: skewY(-2deg); */
}
.line22{
    height: 30px;
    text-align:center;
	/* margin-top:79px; */
	font-family:'Raleway',sans-serif;
	font-size:26px;
}
.line33{
	margin-top: 21px;
    padding: 23px;
    /* padding-left: 227px; */
    text-align-last: center;
	font-family:'Raleway',sans-serif;
	color:#817c7c;
	font-weight:500;
}
.portfolio{
	padding:80px 0 0;
	background-color: #ffffff;
	margin-top:70px;
	font-family:'Raleway',sans-serif;
} 
.heading{
	text-align:center;
	margin-bottom:30px;
}
.heading::before{
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 50px;
    background-color: #e03a3c;
    left: calc(50% - 25px);
	margin-top:45px;
}

.para1{
	padding:40px;
	text-align-last:center;
}
.con_box9{
	color: #444444;
}
.con_box9 ul{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 30px 0;
	column-gap: 5px;
}
.con_box9 ul li a{
	padding: 8px 14px;
	color: #444444;
	font-size: 14px;
    font-weight: 600;
	border-radius: 3px;
	transition:all 0.3s ease-in-out;
	text-decoration: none;
}
.con_box9 ul li a:hover{
	background-color: #e03a3c;
	color: #ffffff;
}
.con_box10{
	margin:20px 0;
	overflow: hidden;
	position: relative;
}
.con_box10 img{
	width: 100%;
	transition: 0.3s;
}
.con_box10:hover img{
	transform: scale(1.2);
}
.con_box10_icon{
	position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: white;
    /* padding: 130px 30px 30px 30px; */
	line-height: 35px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}
.con_box10:hover .con_box10_icon{
	visibility: visible;
	opacity: 1;
}
.con_box10_icon h4{
	margin-top: 90px;
	font-size: 20px;
	font-weight: 600;
	margin-left:15px;
}
.con_box10_icon p{
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	color: rgba(225, 225, 225, 0.7);
	margin-left:15px;
	margin-top:50px;
}
.con_box10_icon a i{
	font-size: 28px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.4);
	margin-left:15px;
}
.con_box10_icon a i:hover{
	color: #ffffff;
}

.ban6{
	width:auto;
	height:140px;
	background-color:red;
}
.section9{
	padding:80px 0;
	background-color: #ffffff;
}
.con_box11{
	color: #444444;
}
.con_box12{
	margin:50px 12px;
	padding: 35px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 14px;
}
.con_box12 img{
	width: 30%;
	float: left;
	border-radius: 3px;
}
.con_box12 h4{
	padding: 15px 0 4px 95px;
	font-size: 18px;
	font-weight: 700;
	color: #111111;
}
.con_box12 h5{
	padding: 0px 0 20px 95px;
	font-size: 14px;
	font-weight: 500;
	color: #999999;
}
.con_box12 p{
	font-size: 16px;
    font-weight: 400;
    color: #444444;
    padding-top: 15px;
    font-style: italic;
    line-height: 26px;
}
.con_box12 p i{
	font-size: 26px;
	font-weight: 400;
	color: #fceaea;
}
.pricing{
	padding: 42px 0;
    background-color: black;
    /* padding-left: 53px; */
    padding-right: 37px;
    /* padding-bottom: 58px; */
}
.price{
	width:auto;
	height:50px;	
}
.pric{
	margin-top:30px;
	width:auto;
	height:50px;
	
}
.price_content{
	margin-top:50px;
	width:auto;
	background-color:#1c1c1a;
	
}
.price_content a{
	    padding: 14px 25px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    border: 2px solid #b3b3b9;
    display: inline-block;
    margin-left:7rem;
    margin-top: 25px;
}
.price h1{
	text-align:center;
	color:white;
	font-family:'Raleway',sans-serif;
	font-size:35px;
}
.price::before{
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 53px;
    background-color: #e03a3c;
    left: calc(50% - 25px);
	margin-top:55px;
}
.pric p{
	text-align:center;
	color:white;
	font-family:'Raleway',sans-serif;
}
.price_content h3{
	color:white;
	text-align:center;
	font-family:'Raleway',sans-serif;
	padding-top:30px;
}
.pricing .mid{
	background-color:#d94848;
}
.price_content{
    margin-top: 10px;
    padding: 20px;
    /* height:500px; */
    /* width: auto; */
    background-color: #2b2b2b;
    color: white;
    border-radius:5px;
}

.price_content ul{
    text-align: center;
    list-style: none;
}

.price_content h3{
    text-align: center;
    font-size: 20px;
    color: white;
    font-family:"Open Sans", sans-serif ;
}

.price_content h4{
    font-size: 20px;
    padding-top:20px;
    text-align: center;
}

.price_content sup{
    padding-top: 20px;
    font-size: 20px;
}
.price_content p{
    display: inline-block;
    font-size:35px;
    font-weight: 600;
}
.price_content h4 span{
    font-weight: lighter;
	color:#d1c5c5;
}

.price_content ul li{
    line-height: 2;
    font-family: "Open Sans", sans-serif;
    padding-top:10px ;
}

.price_content ul .lth{
    text-decoration: line-through;
    color: #a59999;
}

.price_content .buybtn{
    text-align: center;
    padding-top: 50px;
}

.price_content .buybtn a{
    text-decoration: none;
    font-family:"Open Sans", sans-serif ;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid grey;
    box-shadow: 0 0 0 2px grey;
    border-radius: 3px;
    color: white;
}

.price_content .buybtn a:hover{
    box-shadow:0 0 0 3px white;
}
/* price sec ends */
.faq{
 
    padding: 50px;
    margin-top: 50px;
}

.faq_title{    
    margin:0 auto;
    margin: 10px 50px;
}


.faq_title h2{
    text-align: center;
    font-family: "Open Sans", sans-serif ;
    color: #444444;
    position: relative;
    font-size:25px;
}

.faq_title h2::after{
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 45px;
    background-color: #e03a3c;
    bottom: -10px;
    left: calc(50% - 25px);
}

.faq1{
    margin-top: 10px;
    margin-top: 10px;
    /* background-color: yellow; */
    font-family: "Open Sans", sans-serif ;
    border-bottom: 1px solid #eee;
    cursor:pointer;
}

.faq1:hover{
    color:red;
}

.faq1  p{
    position: relative;
	margin-top:25px;

}

.faq .faq1 {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.listbar{
	/* margin-top:100px; */
}
.bar_cnt{
	position: relative;
	padding-bottom: 30px;
}
.bar_cnt h1{
	color:#252525;
	font-family: 'Raleway', sans-serif;
	font-size:32px;
	font-weight: bold;
	text-align: center;
	margin-top:20px;
}
.bar_cnt h1::before{
	content:"";
	position:absolute;
	top: 54px;
    left: 570px;
	background-color: #e03a3c;
	height:3px;
	width:46px;
}
.bar_cnt1{
	cursor:pointer;
}
.bar_cnt1 p{
	font-size: 18px;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
	color:#343a40;
	border-bottom: 1px solid #eee;
	margin-bottom: -52px;
    padding-bottom: 20px;
    margin-top: 43px;
}


.bar_cnt1 i{
	top: 15px;
    font-size: 24px;
    position: relative;
    left: 76rem;
}
/* listbar section ends */

/* card section starts */
.card{
	background-color: #1b1b1b;
	padding:30px 0;
	transform:skewY(-183deg);
	margin-top:100px;
	margin-right:0px !important;
}
.cards{
	display:flex;
	overflow:hidden;
}
.card_title h1{
	transform:skewY(183deg);
	margin-top:40px;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
    font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
    padding-bottom: 20px;
}
.card_title h1::before{
	content:"";
	position:absolute;
	top: 54px;
    text-align:center;
	background-color: #e03a3c;
	height:3px;
	width:46px;
	margin-left:19px;
}
.card_title p{
	transform:skewY(183deg);
	color:white;
	text-align-last: center;
	font-family: "Open Sans", sans-serif;
}

.icon{
	    transform: skewY(180deg);
    margin-left: -14px;
    position: relative;
    top: -60px;
    font-size: 18px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.card_img1:hover .icon{
	visibility:visible;
	opacity:1;
	transform:translateY(0);
}
.card_img2:hover .icon{
	visibility:visible;
	opacity:1;
	transform:translateY(0);
}
.card_img3:hover .icon{
	visibility:visible;
	opacity:1;
	transform:translateY(0);
}
.card_img4:hover .icon{
	visibility:visible;
	opacity:1;
		transform:translateY(0);
}
.icon .bi-twitter{
	background-color: #e03a3c;
	border-radius:50px;
	color:#fff;
	padding: 8px;
	transition:all 0.5s ease;
}
.icon .bi-twitter:hover{
	background-color: #111111;
}
.icon .bi-facebook{
	background-color: #e03a3c;
	border-radius:50px;
	color:#fff;
	padding:8px;
	transition:all 0.5s ease;
}
.icon .bi-facebook:hover{
	background-color: #111111;
}
.icon .bi-instagram{
	background-color: #e03a3c;
	border-radius:50px;
	color:#fff;
	padding:8px;
	transition:all 0.5s ease;
}
.icon .bi-instagram:hover{
	background-color: #111111;
}
.icon .bi-linkedin{
	background-color: #e03a3c;
	border-radius:50px;
	color:#fff;
	padding:8px;
	transition:all 0.5s ease;
}
.icon .bi-linkedin:hover{
	background-color: #111111;
}
.card_img1{
	background-color: white;

    transform: skewY(183deg);
    margin-top: 18px;
    border-radius: 5px;
}
.card_img1 img{
	width:100%;
	transform:skewY(180deg);
	margin-top:0;
	border-radius: 5px 5px 0 0;
}
.card_img2{
	background-color: white;
  
    transform: skewY(183deg);
    margin-top: 32px;
    border-radius: 5px;
}
.card_img2 img{
	width:100%;
	transform:skewY(180deg);
	margin-top:0;
	border-radius: 5px 5PX 0 0;
}
.card_img3{
	background-color: white;
    transform: skewY(183deg);
    margin-top: 46px;
    border-radius: 5px;
}
.card_img3 img{
	/* height:350px; */
	width:100%;
	transform:skewY(180deg);
	margin-top:0;
	border-radius: 5px 5PX 0 0;
}
.card_img4{
	background-color: white;
    /* height: 446px; */
	/* width: 276px; */
    transform: skewY(183deg);
    margin-top: 60px;
    border-radius: 5px;
}
.card_img4 img{
	/* height:350px; */
	width:100%;
	transform:skewY(180deg);
	margin-top:0;
	border-radius: 5px 5px 0 0;
}
.card_cnt{
	/* height:100px; */
	width:100%;
	background-color:white;
	transform:skewY(180deg);
	margin-top: -25px;
	border-radius:0 0 5px 5px;
	padding:24px;
	line-height: 24px;
	overflow: hidden;
}
.card_cnt h4{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
    font-size: 18px;
    color: #111111;
}
.card_cnt p{
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
 }

/* card section ends */

/* contact section starts */

.contact{
	padding:30px 0;
	margin-top:50px;
}
.con_title h1{
	margin-top: 15px;
	font-size: 32px;
    font-weight: bold;
	color: #444444;
	text-align:center;
	font-family: 'Raleway', sans-serif;

	position:relative;
}
.con_title h1::before{
	content:"";
	position:absolute;
	top: 54px;
    text-align:center;
	background-color: #e03a3c;
	height:3px;
	width:46px;
	margin-left:3rem;
}
.con_title p{
	font-family: "Open Sans", sans-serif;
	text-align-last: center;
	color: #444444;
	margin-top: 42px;
}
.con_left{
	/* height:500px; */
	width: auto;
	margin-top: 26px;
	padding:10px 0;
	display:flex;
	flex-wrap:wrap;
}
.con_addr{
	text-align: center;
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	border-radius: 5px;
	padding: 30px 0 30px 0;
}
.con_addr .bx-map{
	background-color: white;
	font-size:32px;
	color: #e03a3c;
	border:2px dotted  #f8d4d5;
	border-radius:50px;
	padding:8px;
}
.con_addr h5{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	color: #777777;
	margin:10px 0;
}
.con_addr p{
	font-family: "Open Sans", sans-serif;
	color:#444444;
	font-size:14px;
}
.con_mail{
	text-align: center;
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	border-radius: 5px;
	padding: 30px 0 30px 0;
	margin-top:1rem;
}
.con_mail .bx-envelope{
	background-color: white;
	font-size:32px;
	color: #e03a3c;
	border:2px dotted  #f8d4d5;
	border-radius:50px;
	padding:8px;
}
.con_mail h5{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	color: #777777;
	margin:10px 0;
}
.con_mail p{
	font-family: "Open Sans", sans-serif;
	color:#444444;
	font-size:14px;
}
.con_call{
	text-align: center;
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	border-radius: 5px;
	padding: 30px 0 30px 0;
	margin-top: 1rem;
}
.con_call .bx-phone-call{
	background-color: white;
	font-size:32px;
	color: #e03a3c;
	border:2px dotted  #f8d4d5;
	border-radius:50px;
	padding:8px;
	margin-top:10px
}
.con_call h5{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	color: #777777;
	margin:10px 0;
}
.con_call p{
	font-family: "Open Sans", sans-serif;
	color:#444444;
	font-size:14px;
}
.con_left1{
	width: auto;
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	margin-top:38px;
	border-radius: 5px;
	padding:32px;
}
.con_left1 .box{
	gap:20px;
	display:flex;
	margin-top:-30px;
	width: 104%;
}
.con_left1 input{
	border:1px solid #dee2e6;
	padding:10px 10px;
	margin-top: 22px;
	width:100%;
	font-family: "Open Sans", sans-serif;
	border-radius: 5px;
	font-size: 14px;
}
.con_left1 textarea{
	padding:12px 15px;
	width: 100%;
	height: 150px;
	font-family: "Open Sans", sans-serif;
	margin-top: 22px;
	border:1px solid #dee2e6;
	border-radius: 5px;
    resize: vertical;

}
.con_left1 button{
	font-size:16px;
	font-family: "Open Sans", sans-serif;
	background-color: #e03a3c;
	border-radius: 5px;
	padding:10px 30px;
	color:#fff;
	border:none;
	position:relative;
	top: 12px;
    margin-left:8rem;
	transition:all 0.3s ease;
}
.con_left1 button:hover{
	background-color: #e35052;
}
/* contact section ends */

/* last section starts */
.last{
	background-color: #1b1b1b;
	padding:20px 0;
}
.last_cnt1 h3{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-size:30px;
	color:#fff;
	font-weight:600;
}
.last_cnt1 span{
	color: #e03a3c;
}
.last_cnt1 p{
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	color:#fff;
	line-height: 1.5;
}
.last_cnt2{
	margin-left:-14px;
}
.last_cnt2 h4{
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	color:#fff;
	margin-top:16px;
	position:relative;
}
.last_cnt2 h4::before{
	content:"";
	position:absolute;
	top: 26px;
    left: 2px;
    background-color: #e03a3c;
    height: 2px;
    width: 20px;
}
.last_cnt2 ul li{
	list-style: none;
	margin-top:-9px;
	padding:4px; 	

}
.last_cnt2 ul a{
	text-decoration: none;
	color: #aaaaaa;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	margin-left: 14px;
	transition:all 0.3s ease;
}
.last_cnt2 ul li a:hover{
	color:#fff;
}
.last_cnt2 ul i{
	color: white;
    font-size: 18px;
	position:relative;
}
.last_cnt2 ul i::before{
	position:absolute;
	left:2px;
}
.last_cnt3{
	/* margin-left:-88px; */
}
.last_cnt3 h4{
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	color:#fff;
	margin-top:16px;
	position:relative;
}
.last_cnt3 h4::before{
	content:"";
	position:absolute;
	top: 26px;
    left: 2px;
    background-color: #e03a3c;
    height: 2px;
    width: 20px;
}
.last_cnt3 ul li{
	list-style: none;
	margin-top:-9px;
	padding:4px; 	
}
.last_cnt3 ul a{
	text-decoration: none;
	color: #aaaaaa;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	margin-left: 14px;
	transition:all 0.3s ease;
}
.last_cnt3 ul li a:hover{
	color:#fff;
}
.last_cnt3 ul i{
	color: white;
    font-size: 18px;
	position:relative;
}
.last_cnt3 ul i::before{
	position:absolute;
	left:2px;
}
.last_cnt4{
	margin-left:-4rem;
}
.last_cnt4 h4{
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	color:#fff;
	margin-top:16px;
	position:relative;
}
.last_cnt4 h4::before{
	content:"";
	position:absolute;
	top: 26px;
    left: 2px;
    background-color: #e03a3c;
    height: 2px;
    width: 20px;
}
.last_cnt4 p{
	font-size: 14px;
	color:#fff;
	margin-top: 16px;
	font-family: "Open Sans", sans-serif;
}
.last_cnt4 input{
    width: 100%;
    height: 24px;
    margin-left: 18px;
    margin-top: 8px;
	border:none;
}
.last_cnt4 form{
	background-color:white;
	border-radius:4px 0 0 4px;
	height:40px;
	margin-top: 18px;
	position:relative;
	width:66%;
}
.last_cnt4 a{
	text-decoration:none;
	background-color:#e03a3c;
	color:white;
	font-family: "Open Sans", sans-serif;
	border-radius:0 4px 4px 0;
	padding:8px 20px;
	position:absolute;
	margin-left:10rem;
	height: 40px;
	margin-top:-2rem;
}
